.buttonWrapper {
  width: 300px;
  margin: 0 auto;
  margin-bottom: 40px;
  font-family: "JetBrains Mono", monospace;
  font-size: 30px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.langButton {
  width: 245px;
  color: #fff;
  text-transform: uppercase;
  text-decoration: none;
  background: #b779ff;
  padding: 20px 20px 20px 45px;
  border-radius: 5px;
  display: inline-block;
  border: none;
  cursor: pointer;
  transition: all 0.4s ease 0s;
  position: relative;
}

@media (max-width: 768px) {
  .langButton:not(:last-child) {
    margin-bottom: 5px;
  }
}

@media (min-width: 1024px) {
  .buttonWrapper {
    width: 600px;
    align-items: center;
    flex-wrap: nowrap;
  }

  .langButton {
    height: 70px;
  }

  .langButton:not(:last-child) {
    margin-right: 10px;
  }
}
.langButton::before {
  background-repeat: no-repeat;
  background-size: cover;
  position: absolute;
  left: 6px;
  height: 30px;
  width: 30px;
}

.langButtonUkraine::before {
  content: "";
  background-image: url("./images/ukraine-flag.png");
}

.langButtonEnglish::before {
  content: "";
  background-image: url("./images/united-states-flag.png");
}

.langButtonRussian::before {
  content: "";
  background-image: url("./images/russian-flag.png");
}

.langButton:hover {
  background: #434343;
  letter-spacing: 1px;
  box-shadow: 5px 40px -10px rgba(0, 0, 0, 0.57);
  transition: all 0.4s ease 0s;
}

.form {
  width: 350px;
  margin: 0 auto;
  border-radius: 16px;
  background: white;
  overflow: hidden;
  box-shadow: 5px 0px 15px 0px rgba(0, 0, 0, 0.47);
}

.formTitle {
  margin: 0;
  width: 100%;
  font-size: 30px;
  font-weight: 100;
  font-family: "JetBrains Mono", monospace;
  padding: 8px;
  background: #c592ff;
  border-radius: 5px;
  text-align: center;
  text-shadow: 4px 4px 5px #b779ff;
}

.formLabel {
  display: block;
  margin: 10px 0;
}

.formSettingList {
  padding: 0 32px;
  list-style: none;
  font-family: "JetBrains Mono", monospace;
  font-size: 20px;
  width: 400px;
  margin: 0px auto 10px;
}

.formSettingListItem:not(:last-child) {
  margin-bottom: 20px;
}

.formSettingListItem {
  position: relative;
}

.rateValue,
.pitchValue {
  position: absolute;
  padding: 3px;
  top: -14px;
  right: 10px;
  display: inline-block;
  border: 3px solid #b779ff;
  border-radius: 5px;
  font-size: 20px;
}

label {
  color: #464646;
}

.form input,
.form select {
  width: 100%;
  display: block;
  outline: 0;
  border: 0;
  background: #ebebeb;
}

.textareaWrapper {
  padding: 0 32px;
  font-family: "JetBrains Mono", monospace;
  font-size: 20px;
  padding-bottom: 10px;
}

.textarea {
  height: 100px;
  display: block;
  width: 350px;
  margin: 0 auto;
  outline: 0;
  border: 0;
  background: #ebebeb;
  border-radius: 10px;
  resize: none;
  margin-bottom: 10px;
}

.textarea::placeholder {
  padding: 4px;
}

.formButton {
  background: #cca0ff;
  border: 1px solid #ba84f9;
  border-radius: 100px;
  text-transform: uppercase;
  letter-spacing: 3.2px;
  width: 100%;
  font-family: "JetBrains Mono", monospace;
  margin-bottom: 0;
  font-size: 32px;
  transition: all 0.3s;
  position: relative;
}

.formButton:hover {
  cursor: pointer;
  background: #cca0ff;
  border: 1px solid #ba84f9;
}

@media (min-width: 768px) {
  .form {
    width: 600px;
  }

  .formTitle {
    font-size: 50px;
  }

  .formSettingList {
    width: 500px;
    padding: 0px;
    font-size: 28px;
  }

  .rateValue,
  .pitchValue {
    font-size: 25px;
  }

  .formSelect {
    padding: 13px;
  }

  .textareaWrapper {
    padding: 0 47px 15px;
  }

  .textarea {
    height: 150px;
  }

  .message {
    font-size: 28px;
  }

  .textarea {
    margin-top: 5px;
    width: 500px;
  }
}

@media (min-width: 1024px) {
  .form {
    width: 800px;
  }

  .formSettingList {
    width: 700px;
  }

  .textarea {
    width: 700px;
    height: 200px;
  }

  .formButton {
    padding: 10px 10px;
  }
}
